<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookeLocal - Homemade Happiness, Savory Savings, Your Culinary Adventure Awaits!</title>

    <!-- CSS styles -->
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About us</a>
        <a href="/login">Log in</a>
    </nav>
</body>
</html>