<nav>
    <div class="left">
        <a href="/">Home</a>
        <a href="#orders">My orders</a>
    </div>
    <div class="right">
        <p>Logged in as: <%= username %></p>
        <a href="#profile">Profile</a>
        <a href="/logout">Log out</a>
    </div>
</nav>