<nav>
    <div class="left">
        <a href="/"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="#orders"><i class="fa fa-fw fa-shopping-cart"></i>Orders</a>
    </div>
    <div class="right">
        <a href="#profile"><i class="fa fa-fw fa-user"></i>Profile</a>
        <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Log out</a>
    </div>
</nav>