<%-include ("partials/header.ejs")%>
<body>
    <div class="hero-body">
        <h2>- Dashboard -</h2>
        <h1><%=username%></h1>
        <a href="/logout">Log out</a>
    </div>
</body>
<%-include ("partials/footer.ejs")%>