<%-include ("partials/header.ejs")%>
<body>
    <div class="hero-body">
        <h2>- Local food marketplace -</h2>
        <h1>CookedLocal</h1>
        <p>Unleash the Taste of Community in Every Bite!</p>
        <hr>
        <div class="btn-container">
            <a href="/register">Join us!</a>
            <a href="/login">Log in</a>
        </div>
    </div>
</body>
<%-include ("partials/footer.ejs")%>