<%-include ("partials/header.ejs")%>
<body>
    <div class="hero-body">
        <h1>Sign in</h1>
        <p class="msg-err"><%=locals.message||locals.messages.error%><br></p>
        <form method="post">
            <input id="username" name="username" type="text" autocomplete="username" placeholder="Enter Username" required autofocus>
            <input id="current-password" name="password" type="password" autocomplete="current-password" placeholder="Enter Password" required>
            <section class="btn-container">
                <button class="btn-form" type="submit" formaction="/login">Sign in</button>
                <a class="btn-form" href="/register">Register</a>
            </section>
        </form>
    </div>
</body>
<%-include ("partials/footer.ejs")%>