<%-include ("partials/header.ejs")%>
<body>
    <div class="hero-body">
        <h1>Register</h1>
        <p class="msg-err"><%=locals.message||locals.messages.error%><br></p>
        <form method="post">
            <input id="username" name="username" type="text" placeholder="Enter Username" required autofocus>
            <input id="current-password" name="password" type="password" placeholder="Enter Password" required>
            <input id="repeat-password" name="re_password" type="password" placeholder="Re-enter Password" required>
            <section class="btn-container">
                <button class="btn-form" type="submit" formaction="/register">Register</button>
                <a class="btn-form" href="/login">Log in</a>
            </section>
        </form>
    </div>
</body>
<%-include ("partials/footer.ejs")%>