:root{
    --color-one:#FFC5C5;
    --color-one-30:#FFC5C530;
    --color-two:#FFEBD8;
    --color-three:#C7DCA7;
    --color-three-50:#C7DCA750;
    --color-three-85:#C7DCA785;
    --color-four:#89B9AD;
    --color-five:#8ca862;  
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-size: 100%;
}
body{
    background-color: var(--color-four);
    background-image: linear-gradient(180deg, rgba(137,185,173,0.90) 0%, rgba(137,185,173,0.65) 90%),url('/images/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-three);
}

/* Home Page */
.hero-body h1{
    font-size: 5rem;
}
.hero-body h2{
    font-size: 2.5rem;
}
.hero-body p{
    font-size: 2rem;
}
.hero-body a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: var(--color-one) solid 2px;
    border-radius: 10px;
    color: var(--color-one);
    font-size: 1.5rem;
    transition: background-color 0.20s linear;
}
.hero-body a:hover{
    background-color: var(--color-one-30);
}

/* Login and Register Page */
.hero-body .msg-err{
    color: var(--color-one);
}
.hero-body form input, .hero-body form select{
    font-size: 2rem;
    background-color: transparent;
    border: var(--color-three) solid 2px;
    color: var(--color-three);
    border-radius: 10px;
}
.hero-body form input::placeholder{
    color: var(--color-three-85);
}
.hero-body form input:focus, .hero-body form select:focus{
    outline: none !important;
    border-color: var(--color-one);
  }
  .hero-body form select option{
    background-color: var(--color-two);
  }
.hero-body form .btn-form{
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding: 0.5rem;
    border: var(--color-one) solid 2px;
    border-radius: 10px;
    color: var(--color-one);
    font-size: 1.3rem;
    transition: background-color 0.20s linear;
}
.btn-container a:hover{
    background-color: var(--color-one-30);
}
.btn-container button{
    color: var(--color-three) !important;
    border-color: var(--color-three) !important;
}
.btn-container button:hover{
    background-color: var(--color-three-50);
}

/* Dashboard */
.dashboard-body {
    background-color: #D2E3C8;
    background-image: none;
    color: #88AB8E;
}
.dashboard a{
    text-decoration: none;
    padding: 0.2rem;
    border: none;
    color: #88AB8E;
    font-size: 1.5rem;
}
nav {
    border-bottom: solid 1px #86A789;
}
.dashboard main > *{
    background-color: #c0d4b4;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 15px;
    font-size: 1.5rem;
}
.dashboard main section h2{
    text-align: center;
}
/* Dashboard profile section */
.profile .profile-container > *{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin:2rem 0;
    border-radius: 15px;
}
.dashboard .msg-err{
    color: red;
}
.dashboard-form input, .dashboard-form select{
    border: #88AB8E solid 2px !important;
    color: #88AB8E !important;
    border-radius: 10px;
}
.dashboard-form input::placeholder{
    color: #9faca1 !important;
}

.dashboard-form .btn-form{
    border: #4F6F52 solid 2px !important; 
    color: #4F6F52 !important;
}
/* Personal details */
.personal-details table td{
    border-left: solid black 1px;
}
.personal-details table{
    
}
/* Password change */
.change-password form .btn-form:hover{
    background-color: var(--color-one-30);
}
/* Footer */
footer{
    backdrop-filter: blur(5px);
}

/* Mobile device layout */
@media (max-width:690px) {
    .hero-body h2, .hero-body p, nav a, footer, .hero-body a{
        font-size: smaller;
    }
    .hero-body h1{
        font-size: 2.5rem;
    }
    /* LOGIN and REGISTER */
    .hero-body form input, .hero-body form select{
        font-size: 1rem;
    }
    .hero-body form .btn-form{
        font-size: 1rem;
    }
}