body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Home Page */
.hero-body{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 10rem;
    gap: 2rem;
    flex: 1;
}
.hero-body h1,.hero-body h2,.hero-body p{
    margin:0;
}
.hero-body .btn-container{
    display: flex;
    gap: 1rem;
}

/* Login and Register Page */
.hero-body form{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 350px;
    align-items: center;
    gap: 1rem;
}
.hero-body form > *{
    padding: 0.5rem;
    width: 100%;
}
.btn-container{
    display: flex;
    justify-content: center;
}

/* Dashboard */
.dashboard{
    padding: 0;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .left, nav .right{
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 0.4rem;
}
.dashboard main{
    display: grid;
    width: 95%;
    gap: 1.5rem;
    grid-template: auto / 2fr 1fr;
}
.dashboard main > *{
    padding: 0.5rem;
    min-height: 250px;
}
/* Dashboard profile section */
.dashboard main .profile{
    grid-column: span 2;
}
.profile .profile-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-height: 250px;
    gap: 0.5rem;
}
/* personal details */
.personal-details, .change-password, .location-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
}
.personal-details table td{
    padding: 0.5rem 1rem;
}

.dashboard main .orders{
    grid-column: span 2;
}
.dashboard main .dishes{
    grid-column: span 2;
    text-align: center;
}
/* change password */
.change-password form, .personal-details table, .location-details form{
    width: 90%;
}
.change-password form .btn-form, .location-details form .btn-form{
    width: 200px;
}
/* Dishes section */
.dish-container{
    margin: 1rem !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 300px;
    min-width: 300px;
}
.dishes-wrapper .dashboard-form > *{
  font-size: 1.2rem !important;
  width: 90%;
}
.dishes-wrapper{
    display: flex;
    overflow-x: auto; 
    width: 100%;
}

/* Orders */
.orders{
    display: flex;
    flex-direction: column;
}
.order-form{
    width: 100% !important;
    height: fit-content !important;
}

/*Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0.5rem 0;
}

/* Mobile device layout */
@media (max-width:690px) {
    .hero-body{
        padding-top: 20%;
    }
    /* LOGIN and REGISTER */
    .hero-body form{
        width: 80%;
        height: 350px;
        align-items: center;
        gap: 0.5rem;
    }
    /* DASHBOARD */
    .dashboard{
        padding: 0;
    }
    .profile .profile-container{
        flex-direction: column;
        gap: 0;
    }
    .profile .profile-container > *{
        font-size: 1rem;
    }
    .dashboard-form{
        max-height: 200px !important;
    }
}